DATE=`date +%d-%m-%Y`
DB_CONFIG=/path/to/database/config/file
##################
# get database parameters from config
# this lines probably needed to be ajust
## LARAVEL
#DB_NAME=`grep -m 1 DB_DATABASE ${DB_CONFIG} | sed s/DB_DATABASE=//`
#DB_USER=`grep -m 1 DB_USERNAME ${DB_CONFIG} | sed s/DB_USERNAME=//`
#DB_PASS=`grep -m 1 DB_PASSWORD ${DB_CONFIG} | sed s/DB_PASSWORD=//`
## MODX - sed remove all between single quotes
#DB_NAME=`grep -m 1 dbase ${DB_CONFIG}  | sed "s/.*'\(.*\)'.*/\1/g"`
#DB_USER=`grep -m 1 database_user ${DB_CONFIG} | sed "s/.*'\(.*\)'.*/\1/g"`
#DB_PASS=`grep -m 1 database_password ${DB_CONFIG} | sed "s/.*'\(.*\)'.*/\1/g"`
## SYMPHONY
#DB_NAME=$(grep -m 1 sylius.database.name: ${DB_CONFIG} | sed s/sylius.database.name:\ // | sed -e 's/^[ \t]*//')
#DB_USER=$(grep -m 1 sylius.database.user: ${DB_CONFIG} | sed s/sylius.database.user:\ // | sed -e 's/^[ \t]*//')
#DB_PASS=$(grep -m 1 sylius.database.password: ${DB_CONFIG} | sed s/sylius.database.password:\ // | sed -e 's/^[ \t]*//')
##################
SOURCE_DIR=/path/to/site/root/dir/
#site-DBtype-DBname-prod\test.sql
DUMP_NAME=site-dbtype-${DB_NAME}-prod.sql
MIN_DUMP_SIZE=2
BACKUP_NAME="call-me-somehow!""
RAND="head /dev/urandom | tr -dc A-Za-z0-9 | head -c 16 | od -A n -t x1 | sed 's/ //g'"
ARCH_NAME=$(eval $RAND)
PASSWD=$(eval $RAND)
PUB_KEY="/path/to/.ssh/id_rsa.pub.pem"
IV_URL="http://domain.com/iv/url"
IV=$(echo -n `curl -s ${IV_URL}` | od -A n -t x1 | sed 's/ //g')
MAIL_TO="mail@domain"
TEMP_LOG=/var/log/backup-webserv-${DATE}.log
FTP_USER=""
FTP_PASS=""
FTP_HOST=""
FTP="$(which ftp)"
MYSQLDUMP="$(which mysqldump)"
OPENSSL="$(which openssl)"
